.red{
    color: red;
  }
  
  .bold{
    font-weight: bold;
  }
  
  .button{
    border: 2px solid rgb(204, 210, 223);
    background: rgb(47, 61, 255);
    padding: 0.3rem 1rem;
    color: #fff;
  }
  
  .button:hover{
    background: rgba(44, 109, 248, 0.8);
    color: black;
    cursor: pointer;
  }
  
  .buttonRed{
    background: pink;
    color: #000;
    border: 2px solid rgb(204, 210, 223);
    padding: 0.3rem 1rem;
  }
  
  .buttonRed:hover{
    background: lightcoral;
    color: #000;
    border: 2px solid rgb(204, 210, 223);
    padding: 0.3rem 1rem;
    cursor: pointer;
  }